.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoHeader {
    display: none;
    height: 8vmin;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem .25rem;
    flex: 1;
}

.navigation ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.link {
    font-size: calc(10px + .65vmin);
    cursor: pointer;
}

.logo {
    height: 3vmin;
}

@media screen and (min-width: 768px) {
    .navigation {
        flex: .8;
    }

    .logoHeader {
        display: block;
    }
}