.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: calc(10px + 7.5vmin) 0 0;
    gap: calc(10px + 2vmin);
}

.textContainer {
    flex: 1fr;
}

.header {
}

.header h1 {
    font-size: calc(10px + 5vmin);
    line-height: calc(10px + 5vmin);
    font-family: 'NimbusRomNo9L';
    color: var(--color-primary-dark);
}

.borderBottom {
    margin-top: calc(10px + 2vmin);
    background: #959595;
    height: 3px;
    width: 90px;
}

.text {
    color: #959595;
    padding-top: calc(10px + 3.5vmin);
    font-size: calc(10px + .35vmin);
    font-style: italic;
}

.button {
    margin-top: calc(10px + 5vmin);
    font-size: calc(10px + .05vmin);
    border: none;
    color: #959595;
    background-color: #fff;
    text-transform: uppercase;
    position: relative;
    padding: calc(10px + .05vmin) calc(10px + 1vmin);
    cursor: pointer;
}

.button::after {
    position: absolute;
    bottom: 0%;
    left: 100%;
    display: block;
    content: "";
    width: 15px;
    border-bottom: 2px solid #959595;
}

.location {
    flex: 1fr;
    height: auto;
}

.location img {
    width: 100%;
    height: auto;
    max-width: 600px;
    object-fit: cover;
}

@media screen and (min-width: 600px) {
    .container {
        flex-direction: row;
    }
}